<mat-toolbar class="nav full-shadow" dir="rtl" color="accent">
    <button type="button" mat-icon-button (click)="toggleSideNav()">
        <mat-icon fontIcon="fa-bars" class="fal"></mat-icon>
    </button>
    <span id="vertical-bar" class="ml-2"></span>
    <span id="logo">اشتغال به تحصیل</span>
    <div style="flex: 1 1 auto"></div>
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>arrow_drop_down</mat-icon>
        <span> {{ currentUser.name }} {{ currentUser.lastname }}</span>
    </button>
    <mat-menu dir="rtl" #menu="matMenu">
        <button mat-menu-item routerLink="profile">پروفایل</button>
        <button mat-menu-item (click)="logout()">خروج</button>
    </mat-menu>
</mat-toolbar>