$nav-height:60px;
$nav-accent-box-shadow :  0 5px 0.4rem rgba(5, 120, 166,0.6);
$nav-box-shadow :  rgba(0, 0, 0, 0.5) 0px 5px 0.4rem;

.nav{
    height: $nav-height;
    position: fixed;
    z-index: 2 !important;
  }

.full-shadow{
    box-shadow: $nav-box-shadow;
}

@media screen AND (max-width: 375px){
    #logo{
        font-size: 80% !important;
    }
    #vertical-bar{
        display: none;
      }
}