<form [formGroup]="form" (ngSubmit)="register()" style="padding:16px;">
  <mat-error *ngIf="invalidRegister" class="mat-text-warn text-right">
    شماره دانشجویی / شماره ملی ثبت شده است
  </mat-error>
  <div *ngIf="success" class="text-success text-right">اطالاعت شما با موفقیت ثبت شد، منتظر تایید ادمین...</div>
  <div class="pt-3">
    <div id="contact" class="d-flex">
      <div class="form-group">
        <mat-form-field>
          <input formControlName="name" matInput name="name" placeholder="نام">
          <mat-error>فیلد نام الزامی می باشد</mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input formControlName="lastname" matInput name="lastname" placeholder="نام خانوادگی">
          <mat-error>فیلد نام خانوادگی الزامی می باشد</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input formControlName="father" matInput name="lastname" placeholder="نام پدر">
        <mat-error>فیلد نام پدر الزامی می باشد</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input formControlName="studentCode" matInput name="studentCode" placeholder="شماره دانشجویی">
        <mat-error>لطفا شماره دانشجویی را صحیح وارد کنید</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input formControlName="nationalCode" matInput name="nationalCode" placeholder="کد ملی">
        <mat-error>لطفا کد ملی را صحیح وارد کنید</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-select formControlName="major" placeholder="رشته تحصیلی">
          <mat-option *ngFor="let major of majors" [value]="major.value">
            {{major.value}}
          </mat-option>
        </mat-select>
        <mat-error>فیلد رشته تحصیلی الزامی می باشد</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input formControlName="startDate" matInput placeholder="سال شروع تحصیل">
        <mat-hint>مثال:
          {{ 97 | persianNumber }}-{{ 96 | persianNumber }}
        </mat-hint>
        <mat-error>لطفا سال شروع تحصیل را صحیح وارد کنید</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group text-right">
      <mat-radio-group class="d-flex" formControlName="startDateOption">
        <mat-radio-button class="col-md-4 col-sm-6 pr-0" value="نیمسال اول تحصیلی">نیمسال اول
        </mat-radio-button>
        <mat-radio-button class="col-md-4 col-sm-6 pr-0" value="نیمسال دوم تحصیلی">نیمسال دوم</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="form-group text-right">
      <mat-radio-group class="d-flex" formControlName="level">
        <mat-radio-button color="primary" class="col-md-4 col-sm-6 pr-0" value="کاردانی">کاردانی</mat-radio-button>
        <mat-radio-button color="primary" class="col-md-4 col-sm-6 pr-0" value="کارشناسی">کارشناسی
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="form-group text-right">
      <mat-radio-group class="d-flex" formControlName="type">
        <mat-radio-button color="primary" class="col-md-4 col-sm-6 pr-0" value="روزانه">روزانه</mat-radio-button>
        <mat-radio-button color="primary" class="col-md-4 col-sm-6 pr-0" value="شبانه">شبانه</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="form-group d-flex justify-content-center">
      <re-captcha formControlName="reCaptcha" [siteKey]="sk" [@fadeInOutCustom]="showCaptcha ? 'show' : 'hide'">
      </re-captcha>
    </div>
    <button mat-raised-button color="primary" [disabled]="!form.valid || loading">
      <ng-container *ngIf="!loading; then loginText; else loadingSpinner"></ng-container>
      <ng-template #loginText>
        <span>ثبت نام</span>
      </ng-template>
      <ng-template #loadingSpinner>
        <b4-spinner></b4-spinner>
      </ng-template>
    </button>
  </div>
</form>