<form [formGroup]="form" style="padding:16px;">
  <div class="py-3">
    <div id="contact" class="d-flex">
      <div class="form-group">
        <mat-form-field>
          <input formControlName="name" matInput name="name" placeholder="نام">
          <mat-error>فیلد نام الزامی می باشد</mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input formControlName="lastname" matInput name="lastname" placeholder="نام خانوادگی">
          <mat-error>فیلد نام خانوادگی الزامی می باشد</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input formControlName="studentCode" matInput name="studentCode" placeholder="شماره دانشجویی">
        <mat-error>لطفا شماره دانشجویی را صحیح وارد کنید</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input formControlName="nationalCode" matInput name="nationalCode" placeholder="کد ملی">
        <mat-error>لطفا کد ملی را صحیح وارد کنید</mat-error>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" [disabled]="!form.valid">ثبت نام</button>
  </div>
</form>