@import "~@angular/material/_theming";
@import "custom-palette.scss";

@include mat-core();


$app-primary: mat-palette($mat-blue,800);
$app-accent: mat-palette($custom-info,600);
$app-warn: mat-palette($mat-red);
$app-dark-blue: mat-palette($custom-dark-blue);

$app-theme: mat-light-theme($app-primary,$app-accent,$app-warn);
.mat-light-theme{
    @include angular-material-theme($app-theme);
}

$primary-color: mat-color($app-primary);
$accent-color: mat-color($app-accent);
$warn-color: mat-color($app-warn);
$dark-blue: mat-color($app-dark-blue);

$primary-text-color: #ffffff;

.mat-light-theme{
    //  background
    .mat-bg-primary{
        background-color : $primary-color !important;
        color: $primary-text-color !important;
    }
    .mat-bg-accent{
        background-color : $accent-color !important;
    }
    .mat-bg-warn{
        background-color : $warn-color !important;
    }
    .custom-bg-dark-blue{
        background-color : $dark-blue !important;
    }
    // text
    .mat-text-primary{
        color :  $primary-color !important;
    }
    .mat-text-accent{
        color : $accent-color !important;
    }
    .mat-text-warn{
        color : $warn-color !important;
    }
}

// Custom typography
$app-typography: mat-typography-config(
    $font-family: 'iransans, MyriadPro-Regular, Myriad Pro Regular, MyriadPro, Myriad Pro, open-sans, tahoma, sans-serif'
);
@include angular-material-typography($app-typography);