<div @fadeIn>
  <mat-card>
    <mat-card-header dir="rtl">
      <mat-card-title>نمایش درخواست</mat-card-title>
      <ng-container [ngSwitch]="request.status">
        <span *ngSwitchCase="1" class="badge badge-warning badge-pos">
          درحال بازرسی
        </span>
        <span *ngSwitchCase="2" class="badge badge-success badge-pos">
          تایید شده
        </span>
        <span *ngSwitchDefault class="badge badge-danger badge-pos">
          رد شده
        </span>
      </ng-container>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content style="font-size: 110%; line-height: 25px;" class="text-right py-3">
      <div dir="rtl" id="to">
        <label class="mat-h3 font-weight-bold mb-2 ml-2">به سازمان / مرکز :</label>
        <span>{{ request.to }}</span>
      </div>
      <div id="description">
        <label class="mat-h3 font-weight-bold mb-2"> : توضیحات</label>
        <p style="white-space: pre;" class="pr-1">{{ request.description }}</p>
      </div>
      <div *ngIf="request.status === 3" id="adminDescription">
        <label class="mat-h3 font-weight-bold mb-2"> : علت رد شدن</label>
        <p style="white-space: pre;" class="pr-1">{{ request.adminDescription }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>