<mat-toolbar class="nav full-shadow" dir="rtl" color="accent">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggleSideNav()">
    <mat-icon fontIcon="fa-bars" class="fal"></mat-icon>
  </button>
  <span id="vertical-bar" class="ml-2" style="color: #045577;">|</span>
  <span id="logo">اشتغال به تحصیل</span>
  <div style="flex: 1 1 auto"></div>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>arrow_drop_down</mat-icon>
    <span> {{ currentUser.name }} {{ currentUser.lastname }}</span>
  </button>
  <mat-menu dir="rtl" #menu="matMenu">
    <button mat-menu-item routerLink="profile">پروفایل</button>
    <button mat-menu-item (click)="logout()">خروج</button>
  </mat-menu>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav dir="rtl" position="end" #sidenav class="sidenav custom-bg-dark-blue" fixedInViewport="true"
    fixedTopGap="60" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-nav-list>
      <!-- *ngIf="!currentUser.admin; else adminLinks" -->
      <ng-container>
        <a mat-list-item disableRipple="true" class="mat-bg-accent title" style="color: yellow !important;">بخش
          دانشجویان</a>
        <a mat-list-item disableRipple="true" matRipple [matRippleColor]="rippleColor" routerLink="new-request"
          routerLinkActive="active">
          <i class="fal fa-file-plus ml-2"></i> درخواست جدید
        </a>
        <a mat-list-item disableRipple="true" matRipple [matRippleColor]="rippleColor" routerLink="requests"
          routerLinkActive="active">
          <i class="fal fa-table ml-2"></i> درخواست های جاری
        </a>
      </ng-container>
      <ng-container #adminLinks>
        <a mat-list-item disableRipple="true" class="mat-bg-accent title" style="color: yellow !important;">بخش
          ادمین</a>
        <a mat-list-item disableRipple="true" matRipple [matRippleColor]="rippleColor" routerLink="students"
          routerLinkActive="active">
          <i class="fal fa-users ml-2"></i> دانشجو ها
        </a>
        <a mat-list-item disableRipple="true" matRipple [matRippleColor]="rippleColor" routerLink="review-requests"
          routerLinkActive="active">
          <i class="fal fa-table ml-2"></i> درخواست ها
        </a>
        <a mat-list-item disableRipple="true" matRipple [matRippleColor]="rippleColor" routerLink="student-form"
          routerLinkActive="active">
          <i class="fal fa-user-edit ml-2"></i> ثبت اطلاعت دانشجو
        </a>
        <a mat-list-item disableRipple="true" matRipple [matRippleColor]="rippleColor" routerLink="signup-requests"
          routerLinkActive="active">
          <i class="fal fa-user-plus ml-2"></i> درخواست های ثبت نام
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <ng-content></ng-content>
  </mat-sidenav-content>