$nav-height:60px;
$side-width: 250px;
$content-padding-top: 90px;
$content-padding-down: 30px;
$content-padding-right: 40px;
$content-padding-left: 20px;

$accent-color: #0578a6;
$active-backgroundColor: #01171e;
.nav{
  height: $nav-height;
  position: fixed;
  z-index: 2 !important;
}

.full-shadow{
  box-shadow: 0 5px 0.4rem rgba(5, 120, 166,0.6);
}
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: $side-width;
  border-right: 0 !important;
  border-left: 0 !important;
  box-shadow: -5px 0 0.4rem rgba(5, 120, 166,0.6);
}

.content{
  padding: $content-padding-top $content-padding-right $content-padding-down $content-padding-left;
  overflow-y: hidden;
}

mat-nav-list a{
  color: #ffffff !important;
}

.active{
  border-left: 3.5px solid $accent-color !important;
  background-color: $active-backgroundColor !important;
}


