$nav-height:60px;
$side-width: 250px;
$content-padding-y: 70px;
$content-padding-x: 20px;
$accent-color: #0578a6;
$active-backgroundColor: #01171e;
.nav{
  height: $nav-height;
  position: fixed;
  z-index: 2 !important;
}

.sidenav-container {
  height: calc( 100vh - $nav-height );
}

.sidenav {
  width: $side-width;
  border-right: 0 !important;
  border-left: 0 !important;
  box-shadow: -5px 0 0.4rem rgba(5, 120, 166,0.6);
}

.content{
  padding: $content-padding-y $content-padding-x;
  overflow-y: hidden;
}

mat-nav-list a{
  color: #ffffff !important;
}

.active{
  border-left: 3.5px solid $accent-color !important;
  background-color: $active-backgroundColor !important;
}


