<navbar [user]="currentUser" [sidenavRef]="sidenav"></navbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav dir="rtl" position="end" class="sidenav custom-bg-dark-blue" fixedInViewport="true"
    fixedTopGap="60" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-nav-list>
      <!-- *ngIf="!currentUser.admin; else adminSection" -->
      <ng-container>
        <a *ngFor="let userLink of userLinks" mat-list-item disableRipple="true" matRipple
          [matRippleColor]="rippleColor" [routerLink]="userLink.routerLink" routerLinkActive=" active">
          <i [class]="userLink.icon"></i> {{ userLink.text }}
        </a>
      </ng-container>
      <ng-container #adminSection>
        <a *ngFor="let adminLink of adminLinks" mat-list-item disableRipple="true" matRipple
          [matRippleColor]="rippleColor" [routerLink]="adminLink.routerLink" routerLinkActive=" active">
          <i [class]="adminLink.icon"></i> {{ adminLink.text }}
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <ng-content></ng-content>
  </mat-sidenav-content>