<mat-form-field class="w-100" style="text-align: right;">
  <input matInput #dateInput [formControl]="dateControl" [name]='name' [matDatepicker]="dp" [placeholder]="label"
    (focus)="dp.open()" (contextmenu)="dp.open()" (keydown)="onKeydown($event,dp)"
    (dateChange)="setValue(dateInput.value);">
  <mat-datepicker-toggle matPrefix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp touchUi></mat-datepicker>
  <mat-hint *ngIf="!dateControl.touched">{{ hint | persianNumber }}</mat-hint>
  <mat-error *ngIf="dateControl.touched && dateControl.invalid">{{ error }}</mat-error>
</mat-form-field>