<form [formGroup]="form" class="pt-4 pb-2" (ngSubmit)="uploadImage()">
  <input #imageFile (change)="onImageChanged()" type="file" class="d-none">
  <mat-form-field class="ml-3" (click)="imageFile.click();">
    <mat-icon fontIcon="fa-upload" class="fad" matSuffix></mat-icon>
    <input matInput formControlName="inputFile" placeholder="عکس">
    <mat-hint> فرمت : .jpg | .jpeg | .png </mat-hint>
    <mat-error *ngIf="inputFile.errors?.required ">عکس کاربری الزام می باشد</mat-error>
    <mat-error *ngIf="inputFile.errors?.isNotImage ">فرمت عکس مناسب نمی باشد</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="!form.valid || !validFile || uploading">
    <span *ngIf="!uploading; else spinner">آپلود عکس</span>
    <ng-template #spinner>
      <b4-spinner></b4-spinner>
    </ng-template>
  </button>
  <div class="pt-3" *ngIf="uploading">
    <mat-progress-bar #bar mode="determinate" [value]="uploadValue">
    </mat-progress-bar>
  </div>
</form>