<form #f="ngForm" (ngSubmit)="signIn(f)" style="padding:16px;">
  <mat-error *ngIf="invalidLogin" class="mat-text-warn text-right">نام کاربری یا کلمه عبور اشتباه می باشد
  </mat-error>
  <div class="py-3">
    <div class="form-group">
      <mat-form-field>
        <input matInput required ngModel name="username" placeholder="نام کاربری" [disabled]="loading">
        <mat-icon matSuffix>person</mat-icon>
        <mat-error>فیلد نام کاربری الزامی می باشد</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput required ngModel [type]="hide ? 'password' : 'text'" name="password" placeholder="کلمه عبور"
          [disabled]="loading">
        <button type="button" mat-icon-button matSuffix (click)="switchPassword($event)">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>فیلد کلمه عبور الزامی می باشد</mat-error>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" [disabled]="!f.valid || loading">
      <ng-container *ngIf="!loading; then loginText; else loadingSpinner"></ng-container>
      <ng-template #loginText>
        <span>ورود</span>
      </ng-template>
      <ng-template #loadingSpinner>
        <div class="spinner-border" role="status" style="color:#fff; 
        height: 20px;
        width: 20px;">
          <span class="sr-only">Loading...</span>
        </div>
      </ng-template>
    </button>
  </div>
</form>