<mat-card>
    <mat-card-content>
        <mat-tab-group dir="rtl">
            <mat-tab>
                <ng-template mat-tab-label>
                    <fa-icon icon="pen" class="ml-2"></fa-icon>
                    ثبت اطلاعات دانشجو
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <fa-icon icon="file-excel" class="ml-2"></fa-icon>
                    ثبت از طریق اکسل
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Ok</button>
    </mat-card-actions>
</mat-card>