<mat-card>
    <mat-card-content>
        <mat-tab-group #tabs dynamicHeight dir="rtl">
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="fad fa-pen ml-2"></i>
                    ثبت اطلاعات دانشجو
                </ng-template>
                <manual-signup></manual-signup>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="fad fa-file-excel ml-2" style="color: green;"></i>
                    ثبت از طریق فایل Excel
                </ng-template>

            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Ok</button>
    </mat-card-actions>
</mat-card>