mat-form-field{
    width: 100%;
}
.form-group{
    width: 240px;
}
@media screen AND (max-width:425px){
    #new-passwords{
        display: block !important;
    }
    .form-group{
        width: 100%;
    }
}