<form [formGroup]="form" (ngSubmit)="changePassword()" class="pt-4 pb-2">
  <mat-error class="mb-3" *ngIf="invalidChange">کلمه عبور صحیح نمی باشد</mat-error>
  <div class="form-group">
    <mat-form-field>
      <mat-label>کلمه عبور</mat-label>
      <input formControlName="password" matInput type="password">
      <i class="fa fa-key" matSuffix></i>
      <mat-error>کلمه عبور الزامی می باشد</mat-error>
    </mat-form-field>
  </div>
  <div id="new-passwords" class="d-flex">
    <div class="form-group">
      <mat-form-field>
        <mat-label>کلمه عبور جدید</mat-label>
        <input formControlName="newPassword" matInput type="password">
        <mat-error *ngIf="!newPassword.valid && newPassword.touched">
          <span *ngIf="newPassword.errors?.minlength">
            حداقل کلمه عبور
            {{ newPassword.errors.minlength?.requiredLength }}
            حرف می باشد</span>
          <span *ngIf="newPassword.errors?.required">کلمه عبور جدید الزامی می باشد</span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>تکرار کلمه عبور جدید</mat-label>
        <input formControlName="confirmPassword" matInput type="password">
        <mat-error>
          تکرار کلمه عبور با کلمه عبور
          جدید یکسان نمی باشند
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button color="primary" [disabled]="!form.valid || loading">
    <ng-container *ngIf="!loading; then loginText; else loadingSpinner"></ng-container>
    <ng-template #loginText>
      <span>تغیر کلمه عبور</span>
    </ng-template>
    <ng-template #loadingSpinner>
      <b4-spinner></b4-spinner>
    </ng-template>
  </button>
</form>