<div @fadeIn dir="rtl">
  <profile-information [user]="user"></profile-information>
  <mat-card>
    <mat-card-content class="text-right">
      <mat-tab-group #tabs dynamicHeight>
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="fad fa-lock-open-alt ml-2"></i>
            <span>تغیر کلمه عبور</span>
          </ng-template>
          <change-password></change-password>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="fad fa-image ml-2"></i>
            <span>تغیر عکس کاربری</span>
          </ng-template>
          <change-profile-img></change-profile-img>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>