<div @fadeIn>
    <div dir="rtl" class="d-flex flex-control mb-3">
        <mat-form-field class="text-right col-md-6 p-0">
            <input matInput [formControl]="searchControl" placeholder="جست و جو">
        </mat-form-field>
        <mat-form-field class="col-md-6 p-0">
            <mat-select placeholder="بر اساس" [(ngModel)]="searchOption" name="search-option">
                <mat-option value="nameAndLastname">نام و نام خانوادگی</mat-option>
                <mat-option value="studentCode">شماره دانشجویی</mat-option>
                <mat-option value="nationalCode">کد ملی</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div dir="rtl" class="d-flex flex-control mb-3 ">
        <div class="col-md-5 p-0">
            <mat-persian-datepicker [control]="fromDateControl" name="fromDate" label="از تاریخ">
            </mat-persian-datepicker>
        </div>
        <div class="col-md-5 p-0">
            <mat-persian-datepicker [control]="tillDateControl" name="tillDate" label="تا تاریخ">
            </mat-persian-datepicker>
        </div>
        <button (click)="dateFilter()" color="primary" class="col-2" style="height: 40px;" mat-stroked-button>فیلتر
            تاریخ
        </button>
    </div>
    <div class="w-100 table-responsive mat-elevation-z1" style="position: relative;">
        <table-spinner [isLoading]="isLoading"></table-spinner>
        <table id="table" dir="rtl" mat-table [dataSource]="dataSource" matSort class="table-striped text-right">
            <ng-container matColumnDef="nameAndLastname">
                <th class="font-weight-bold" mat-header-cell *matHeaderCellDef mat-sort-header> نام و نام خانوادگی </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} {{row.lastname}} </td>
            </ng-container>
            <ng-container matColumnDef="studentCode">
                <th class="font-weight-bold" mat-header-cell *matHeaderCellDef>شماره دانشجویی</th>
                <td mat-cell *matCellDef="let row">{{row.studentCode | persianNumber}}</td>
            </ng-container>
            <ng-container matColumnDef="major">
                <th class="font-weight-bold" mat-header-cell *matHeaderCellDef>رشته تحصیلی</th>
                <td mat-cell *matCellDef="let row">{{row.major}}</td>
            </ng-container>
            <ng-container matColumnDef="startDate">
                <th class="font-weight-bold" mat-header-cell *matHeaderCellDef>سال شروع تحصیل</th>
                <td mat-cell *matCellDef="let row">{{row.startDate | persianNumber}} {{row.startDateOption}}</td>
            </ng-container>
            <ng-container matColumnDef="to">
                <th class="font-weight-bold" mat-header-cell *matHeaderCellDef>به</th>
                <td mat-cell *matCellDef="let row"> {{ row.option }} {{row.to}}</td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th class="font-weight-bold" mat-header-cell *matHeaderCellDef mat-sort-header>وضعیت</th>
                <td mat-cell *matCellDef="let row">
                    <span [ngSwitch]="row.status">
                        <p *ngSwitchCase="1">
                            <span class="badge badge-warning">در حال بازرسی</span>
                        </p>
                        <p *ngSwitchCase="2">
                            <span class="badge badge-success">تایید شده</span>
                        </p>
                        <p *ngSwitchDefault>
                            <span class="badge badge-danger">رد شده</span>
                        </p>
                    </span>
                </td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th class="font-weight-bold" mat-header-cell *matHeaderCellDef mat-sort-header>تاریخ</th>
                <td mat-cell *matCellDef="let row">{{row.date | persianDate | persianNumber}}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td class="text-left" mat-cell *matCellDef="let row">
                    <button mat-button color="primary" [routerLink]="[row.id]">
                        نمایش
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
        <div id="paginator">
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>