@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/ngx-toastr/toastr.css";
@import "../node_modules/font-awesome-pro/css/all.css";

html, body { height: 100%; }
body { margin: 0;}

button.mat-sort-header-button,
button[routerLink],
button[mat-menu-item],
a[mat-button],
a[routerLink],
button[mat-button],
button[mat-raised-button],
button[mat-icon-button],
button[mat-flat-button],
button[mat-mini-fab],
button[mat-fab],
button[mat-stroked-button]{
    color: inherit;
    outline: none;
    text-decoration: none;
}
.rtl{
    direction:rtl;
}