<div dir="rtl" class="pt-5">
  <h1 class="text-shadow title">{{ title }}</h1>
  <div class="d-flex justify-content-center">
    <mat-card class="mb-3" style="max-width: 900px">
      <mat-card-content>
        <mat-tab-group dynamicHeight mat-stretch-tabs>
          <mat-tab>
            <ng-template mat-tab-label>
              <div (click)="tab.resetCaptcha()">
                <i class="fa fa-sign-in ml-2"></i>
                <span>ورود به سیستم</span>
              </div>
            </ng-template>
            <automasion-login></automasion-login>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <i class="fa fa-user-plus ml-2"></i>
              <span>ثبت نام</span>
            </ng-template>
            <automasion-register #tab></automasion-register>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>