.img-profile{
    width: 150px; height: 150px;
    border-radius: 100%;
}

#account-information{
    padding: 0 20px;
}


@media screen AND (max-width: 425px){
    #account-information{
        display: block;
        text-align: center;
    }
    #account-information img{
        margin-bottom: 1.5rem !important;
        margin-left: 0 !important;
    }
}
@media screen AND (max-width: 375px){
    #detail-col{
        padding-left: 0;
    }
    #right-col{
        padding-right: 0;
    }
    #left-col{
        padding-left: 0;
    }
    .mat-h1{
        font-size: 140%;
    }
    .mat-h3{
        font-size: 100%;
    }
}
@media screen AND (max-width: 320px){
    
}