$custom-info: (
    50 : #e1eff4,
    100 : #b4d7e4,
    200 : #82bcd3,
    300 : #50a1c1,
    400 : #2b8cb3,
    500 : #0578a6,
    600 : #04709e,
    700 : #046595,
    800 : #035b8b,
    900 : #01487b,
    A100 : #a8d5ff,
    A200 : #75bdff,
    A400 : #42a4ff,
    A700 : #2998ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
  )
);
$custom-dark-blue:(
    50 : #e1e4e5,
    100 : #b3bcbe,
    200 : #808f93,
    300 : #4d6267,
    400 : #274147,
    500 : #011f26,
    600 : #011b22,
    700 : #01171c,
    800 : #011217,
    900 : #000a0d,
    A100 : #51b9ff,
    A200 : #1ea5ff,
    A400 : #008cea,
    A700 : #007dd0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

